<div class="container mt-6">
    <div *ngIf="loading" class="text-center">
        <div class="spinner-grow" role="status">
          </div>
          <p class="muted-text">Please wait a second</p>
    </div>

    <ng-container *ngIf="!loading">
        <form #formData='ngForm' (ngSubmit)="saveForm()">
            <div class="row justify-content-center m-0">
                <div class="col-md-10">
        
                    <div class="row align-items-center mb-5">
                        <div class="col-md-2">
                            <h1 class="muted-text border-right">Title</h1>
                        </div>
                        <div class="col">
                            <textarea autosize class="form-control title" placeholder="Leave a comment here" [(ngModel)]="data.title"  name="title" required></textarea>
                        </div>
                    </div>
        
                    <div class="row align-items-center mb-5">
                        <div class="col-md-2">
                            <h6 class="muted-text border-right">Description</h6>
                        </div>
                        <div class="col">
                            <textarea autosize class="form-control border-bottom" placeholder="Leave a comment here"  [(ngModel)]="data.description" name="description" required></textarea>
                        </div>
                    </div>
        
                    <div class="row align-items-center mb-3" *ngFor="let p of listParagraph; let idx = index">
                        <div class="col-md-2"></div>
                        <div class="col">
                            <textarea autosize class="form-control border" placeholder="Leave a comment here" (change)="changeListParagraph($event, idx)" name="paragraph" required>{{ p }}</textarea>
                        </div>
                    </div>
        
                    <div *ngIf="showParagraph" class="row align-items-center mb-3">
                        <div class="col-md-2"></div>
                        <div class="col">
                            <textarea autosize autofocus class="form-control border-bottom" placeholder="Leave a comment here" name="description" (change)="saveParagraph($event)" required></textarea>
                        </div>
                    </div>
        
                    <div class="row my-5">
                        <div class="col-md-2"></div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <button class="btn btn-sm btn-danger cursor-pointer btn-create border mr-2" type="button" routerLink="/me/home" [disabled]="showParagraph">
                                    Cancel
                                </button>
                                <button class="btn btn-sm btn-outline-dark cursor-pointer btn-create border mr-2" type="button" (click)="addParagraph()" [disabled]="showParagraph">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                      </svg>
                                    Add new paragraph
                                </button>
                                <button class="btn btn-sm btn-dark cursor-pointer btn-create border mr-2" type="button" (click)="saveForm()" [disabled]="!formData.valid" [disabled]="showParagraph">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </form>
    </ng-container>
</div>