<app-navbar></app-navbar>

<main class="main pt-5 mt-5">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-10">
                <article class="card mb-4 mx-2">
                    <img class="card-img" [src]="data.image_url" alt="" height="200">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <p class="card-text">{{ data.author }}</p>
                            <div class="row ml-auto align-items-center">
                                <p class="card-text mb-0 mr-2">{{ data.created_at }}</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="p-4 mb-3">
                    <h4 class="card-title mb-0 fw-bold" style="font-size: 3.5rem !important;">{{ data.title }}</h4>
                    <p>{{ data.description }}</p>

                    <ul class="list-group list-group-flush mb-5">
                        <ng-container *ngFor="let paragraph of data.paragraph">
                            <li class="list-group-item">{{ paragraph }}</li>
                        </ng-container>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</main>